@using NonoGeneDeletion.Pages.Components
@inject NavigationManager uriHelper;

<style>
    .container-side-by-side {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav-bar {
        width: 90%;
        margin: auto;
       /*  background-color: #3e8e41; */
        background-color: #04AA6D;
    }
</style>


<div class='container-side-by-side nav-bar'>  
    <NavLink class="nav-link" href="/">
        <MudMenu Label="Home" ActivationEvent="@MouseEvent.MouseOver" Style="background-color: #04AA6D" AnchorOrigin="Origin.CenterCenter" Size="Size.Large" TransformOrigin="Origin.TopLeft">
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem> Item 1 </MudMenuItem>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>
                            <img src="images/doctor-cartoon.jpg" style="max-width: 250px" />
                            <p>Content Here</p>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem>Item 2</MudMenuItem>
                    </ActivatorContent>

                    <ChildContent>
                        <MudMenuItem> Item 2.1 </MudMenuItem>
                        <MudMenuItem> Item 2.2 </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
        </MudMenu>
    </NavLink>
    <NavLink class="nav-link" href="education">
        <MudMenu Label="Education" ActivationEvent="@MouseEvent.MouseOver" Style="background-color: #04AA6D" AnchorOrigin="Origin.CenterCenter" Size="Size.Large" TransformOrigin="Origin.TopLeft">
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem> Item 1 </MudMenuItem>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>
                            <img src="images/doctor-cartoon.jpg" style="max-width: 250px" />
                            <p>Content Here</p>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem>Item 2</MudMenuItem>
                    </ActivatorContent>

                    <ChildContent>
                        <MudMenuItem> Item 2.1 </MudMenuItem>
                        <MudMenuItem> Item 2.2 </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
        </MudMenu>
    </NavLink>
    <NavLink class="nav-link" href="resources">
        <MudMenu Label="Resources" ActivationEvent="@MouseEvent.MouseOver" Style="background-color: #04AA6D" AnchorOrigin="Origin.CenterCenter" Size="Size.Large" TransformOrigin="Origin.TopLeft">
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem> Item 1 </MudMenuItem>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem> 
                            <img src="images/doctor-cartoon.jpg" style="max-width: 250px" />
                            <p>Content Here</p>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem>Item 2</MudMenuItem>
                    </ActivatorContent>

                    <ChildContent>
                        <MudMenuItem> Item 2.1 </MudMenuItem>
                        <MudMenuItem> Item 2.2 </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
        </MudMenu>
    </NavLink>
    <NavLink class="nav-link" href="medical">
        <MudMenu Label="Medical" ActivationEvent="@MouseEvent.MouseOver" Style="background-color: #04AA6D" AnchorOrigin="Origin.CenterCenter" Size="Size.Large" TransformOrigin="Origin.TopLeft">
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem> Item 1 </MudMenuItem>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem>
                            <img src="images/doctor-cartoon.jpg" style="max-width: 250px" />
                            <p>Content Here</p>
                        </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
            <!--Sub Item Start HERE-->
            <MudMenuItem>
                <MudMenu ActivationEvent="MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft">
                    <ActivatorContent>
                        <MudMenuItem>Item 2</MudMenuItem>
                    </ActivatorContent>

                    <ChildContent>
                        <MudMenuItem> Item 2.1 </MudMenuItem>
                        <MudMenuItem> Item 2.2 </MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudMenuItem>
        </MudMenu>
    </NavLink>
</div>




@code {
    public string MenuButtonFontSize { get; set; } = "18px";
    public string DropDownLinksFontSize { get; set; } = "16px";
    bool collapseNavMenu = true;
    private bool expandSubNavSettings;
    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";
    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        if (!expandSubNavSettings)
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
}
