@using NonoGeneDeletion.Pages.Components

@page "/education"

<PageTitle>Education</PageTitle>

<PageBody>
    <h3>Education with NONO Deletion Syndrome</h3>
    <p>Content HERE</p>
    <ImageAndTextWrap Text="@TextWrap" ImagePath="@ImagePath" ImageFloatDirection="right" ImageMargin="10"></ImageAndTextWrap>
</PageBody>


@code {
    public string TextWrap { get; set; }
    public string ImagePath { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TextWrap = @"";

        //ImagePath = "https://media.geeksforgeeks.org/wp-content/uploads/20190808143838/logsm.png";
        ImagePath = "images/doctor-cartoon.jpg";
    }
}

