@using NonoGeneDeletion.Pages.Components

@page "/medical"

<PageTitle>Medical Information</PageTitle>


    <h1>NONO Deletion Medical Complications</h1>



@code {
    public string TextWrap { get; set; }
    public string ImagePath { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TextWrap = @"";

        //ImagePath = "https://media.geeksforgeeks.org/wp-content/uploads/20190808143838/logsm.png";
        ImagePath = "images/doctor-cartoon.jpg";
    }
}

