@using NonoGeneDeletion.Pages.Components

@page "/resources"


<PageTitle>Resources</PageTitle>

<PageBody>
    <h3>NONO-Associated X-linked ID Syndrome Support Groups</h3>
    <br />
    <hr />

    <div id="list-container">
        <ul>
            <li>
                NONO Gene Mutation
                <a href="www.facebook.com/groups/1597987633834443" target="_blank">www.facebook.com/groups/1597987633834443</a>
            </li>
            <li>
                Mighty Max NONO gene mutation:
                <a href="www.facebook.com/groups/1569014886645106" target="_blank">www.facebook.com/groups/1569014886645106</a>
            </li>
        </ul>
        <div style="display: block">

        </div>
    </div>
    
</PageBody>


@code {
    public string TextWrap { get; set; }
    public string ImagePath { get; set; }
    public Dictionary<string, string[]> LinkItems { get; set; } = new Dictionary<string, string[]>();

    protected override async Task OnInitializedAsync()
    {

    }
}

