@using NonoGeneDeletion.Pages.Components

@page "/symptoms"

<PageTitle>Symptoms</PageTitle>

<PageBody>
    <h3>Common Symptoms Of NONO-Associated X-linked ID Syndrome</h3>
    <h4>Overview Of Symptoms</h4>
    <ul>
        <li>Developmental delay and intellectual disability</li>
        <li>Autistic spectrum disorder</li>
        <li>Heart anomalies</li>
        <li>Weak muscle tone (hypotonia) & joint hypermobility</li>
        <li>Gastrointestinal symptoms</li>
        <li>Genitourinary anomalies</li>
        <li>Seizures</li>
        <li>Brain anomalies</li>
        <li>Eye anomaly</li>
        <li>Hormone deficiency</li>
        <ul>
            <li>Delayed puberty</li>
        </ul>
        <li>Skeletal anomalies</li>
        <ul>
            <li>Widely spaced teeth</li>
            <li>Short philtrum</li>
            <li>High, narrow palate</li>
            <li>Dental crowding</li>
        </ul>
        <li>Speach difficulties</li>
    </ul>
    <h4>Conditions associated with NONO Gene</h4>
    <ul>
        <li>MACROCEPHALY-INTELLECTUAL DISABILITY-LEFT VENTRICULAR NON COMPACTION SYNDROME</li>
        <li>MIT FAMILY TRANSLOCATION RENAL CELL CARCINOMA</li>
    </ul>
    
</PageBody>


@code {
    public string TextWrap { get; set; }
    public string ImagePath { get; set; }

    protected override async Task OnInitializedAsync()
    {

    }
}

