<style>
    .body-col {
        width: 75%;
        margin: auto;
        background-color: lightgray;
        padding: 10px 50px 10px 50px;
        height: 90vh;
    }

    #footer {
        margin-top: auto;
    }
</style>

<div style="position:relative; height: 100%; width: 75%; margin: auto;padding: 10px 50px 10px 50px;">
    <div>
        <h1>@Title</h1>
        <br />
        <hr />
        @ChildContent
    </div>
    <div id="footer">
        <p>Sources</p>
        <ul>
            <li>Early, M. |. F. U. P. (2024, February 22). NONO. https://www.mendelian.co/genes/nono</li>
            <li>NONO-associated X-linked ID syndrome. (2021). Unique. Retrieved February 24, 2024, from https://rarechromo.org/media/singlegeneinfo/Single%20Gene%20Disorder%20Guides/NONO-associated%20X-linked%20ID%20syndrome%20QFN.pdf</li>
        </ul>
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter] 
    public string Title { get; set; }
}

